@import "tailwindcss";

/* ---------------- Smooth Scroll ---------------- */
html {
  scroll-behavior: smooth;
}

/* ---------------- Font Faces ---------------- */
@font-face {
  font-family: "Aller";
  src: url("/fonts/aller.regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aller";
  src: url("/fonts/aller.bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Avignon";
  src: url("/fonts/avignon.bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* ---------------- Theme Colors ---------------- */
:root {
  --background: #171717;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Custom fonts */
  --font-sans: "Aller", Arial, Helvetica, sans-serif;
  --font-mono: "Avignon", "Times New Roman", serif;
}

/* ---------------- Dark Mode ---------------- */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* ---------------- Base Styles ---------------- */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Aller", Arial, Helvetica, sans-serif;
}

/* ---------------- Headings ---------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Avignon", "Times New Roman", serif;
  font-weight: 700;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #F58A1F;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #004f5a;
  border-radius: 4px;
}